.cards {
  width: 100%;
  margin: 0 auto;

  &__title {
    margin: 0 auto;
    @include font-large-desctop();

    @media screen and (max-width: 1023px){
      @include font-large-tablet();
    }

    @media screen and (max-width: 425px){
      @include font-large-mobile();
    }
  }

  &__items {
    display: grid;
    margin: 40px auto 0;
    max-width: 100%;
    grid-template-columns: repeat(4, fit-content(350px));
    column-gap: 0;
    row-gap: 0;
    grid-auto-rows: 1fr;
    overflow-y: hidden;

    @media screen and (max-width: 1023px){
      grid-template-columns: repeat(3, fit-content(350px));
    }

    @media screen and (max-width: 767px){
      grid-template-columns: repeat(2, fit-content(350px));
    }

    @media screen and (max-width: 425px){
      margin: 20px auto 0;
    }
  }

  &__item {
    max-width: 100%;
    margin: 0 auto;
    align-self: center;
  }
}
