.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 15;

  &__container {
    margin: 0;
    padding: 68px 20px 20px;
    max-width: 480px;
    height: 100%;
    background-color: $bg-color-menu;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;

    @media screen and (max-width: $tablet-width) {
      padding: 44px 20px 20px;
      min-width: 320px;
    }
  }

  &__menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    list-style: none;
    @include font-small();
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
  }

  &__menu-item {
    margin: 0 auto 80px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: $mobile-width) {
      margin: 0 auto 40px;
    }
  }

  &__menu-link {
    text-decoration: none;
    color: #ffffff;

    &:hover {
      border-bottom: 0.5px solid $color-white;
      cursor: pointer;
    }
  }

  &__close {
    position: absolute;
    border: none;
    width: 48px;
    height: 48px;
    background-image: url("../images/close-button.svg");
    background-color: transparent;
    top: 20px;
    left: 20px;
    cursor: pointer;

    @media screen and (max-width: 425px) {
      width: 24px;
      height: 24px;
      background-image: url("../images/close-button-mobile.svg");
    }
  }

  &_opened {
    display: block;
    overflow: hidden;
  }
}
