.header {
  width: 100%;
  max-height: 900px;
  @include font-medium();
  background-color:  #E7E7E2;

  &__container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__description {
    position: absolute;
    top: 310px;
    right: 20px;
  }

  &__title {
    position: absolute;
    top: 310px;
    right: 20px;
    width: 700px;
    margin: 0;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.04em;
  }

  &__image {
    width: 700px;
    height: 900px;
    margin: 0 0 0 24px;
  }

  &__button {
    position: absolute;
    bottom: 330px;
    right: 370px;
    max-width: 350px;
    padding: 11px 30px;
    box-sizing: border-box;
    border: 0.5px solid $color-base;
    @include font-small();
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #0A0A0A;
  }

  &__button:hover {
    background-color: #ffffff;
    color: #0A0A0A;
  }

}
