.header {
  width: 100%;
  min-height: 900px;
  @include font-medium();
  background-color:  #E7E7E2;

  @media screen and (max-width: 1023px){
    min-height: 646px;
  }

  @media screen and (max-width: 767px){
    min-height: 426px;
  }

  &__container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;

    @media screen and (max-width: 1023px){
      max-width: 768px;
    }

    @media screen and (max-width: 767px){
      min-width: 320px;
    }
  }

  &__title {
    position: absolute;
    top: 310px;
    right: 20px;
    width: 700px;
    margin: 0;
    text-transform: uppercase;
    @include font-large-desctop();

    @media screen and (max-width: 1023px){
      top: 223px;
      max-width: 485px;
      @include font-large-tablet();
    }

    @media screen and (max-width: 600px){
      top: 111px;
      max-width: 280px;
      @include font-large-mobile();
    }
  }

  &__image {
    max-width: 700px;
    margin: 0 0 0 24px;

    &_type_tablet {
      display: none;
    }

    @media screen and (max-width: 1023px){
      display: none;
      margin: 0;

      &_type_tablet {
        display: block;
        max-width: 486px;
      }
    }

    @media screen and (max-width: 600px){
      max-width: 320px;
      min-height: 426px;
    }
  }

  &__button {
    position: absolute;
    bottom: 318px;
    right: 370px;
    width: 350px;
    @include button();
    color: #ffffff;
    background-color: #0A0A0A;
    border: 0.5px solid $color-base;
    box-sizing: border-box;

    @media screen and (max-width: 1023px){
      right: 155px;
      bottom: 223px;
    }

    @media screen and (max-width: 600px){
      width: 280px;
      right: 20px;
      bottom: 111px;
      @include button-mobile();
    }
  }

  &__button:hover {
    background-color: #ffffff;
    color: #0A0A0A;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    min-width: 237px;
    min-height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;

    @media screen and (max-width: 600px){
      min-height: 26px;
      padding-left: 24px;
      top: 16px;
    }
  }

  &__menu-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    position: absolute;
    border: none;
    background-color: transparent;

    @media screen and (max-width: 600px){
      width: 24px;
      height: 24px;
    }

    &:before {
      content: '';
      position: absolute;
      background-image: url("../../images/burger-icon.svg");
      width: 48px;
      height: 48px;
      top: 0;
      left: 0;
      cursor: pointer;
      z-index: 10;

      @media screen and (max-width: 600px){
        background-image: url("../../images/burger-icon-mobile.svg");
        width: 24px;
        height: 24px;
      }
    }
  }
  &__menu-title {
    display: block;
    margin: auto 0 auto 16px;
    @include font-small();
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media screen and (max-width: 600px){
      @include font-small-mobile();
      line-height: 1;
      margin: auto 0 auto 18px;
    }
  }

}
