.footer {
  width: 100%;
  min-height: 372px;
  background-color: $bg-color-dark;
  color: $color-white;
  padding: 40px 0;
  box-sizing: border-box;

  @media screen and (max-width: $tablet-width) {
    padding: 40px 20px;
  }

  &__container {
    max-width: 700px;
    margin: 0 auto;

    @media screen and (max-width: $tablet-large-width) {
      max-width: 486px;
    }

    @media screen and (max-width: $mobile-width) {
      max-width: 280px;
    }
  }

  &__text {
    @include font-base();
    text-align: center;
    margin: 0;

    @media screen and (max-width: $mobile-width) {
      @include font-small();
    }
  }

  &__form {
    margin: 40px 0;
  }

  &__form-item {
    display: flex;
    font-size: 0;
    margin-bottom: 20px;
    position: relative;

    &:last-child {
      margin: 0;
    }

    &_type_mobile {
      @media screen and (max-width: $mobile-width) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__form-input {
    border: 0.5px solid #ffffff;
    border-radius: 0;
    padding: 11px 23px;
    width: 592px;
    background-color: $bg-color-dark;
    color: $color-white;
    @include font-small();
    box-sizing: border-box;

    &::placeholder {
      color: $color-grey;
    }

    @media screen and (max-width: $mobile-width) {
      max-width: 280px;
      padding: 9px 0;
      text-align: center;
    }

    &_type_checkbox {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 2px 0 0 2px;
      border: none;
    }

    &_type_checkbox:before {
      content: '';
      position: absolute;
      background-image: url("../images/unchecked-icon.svg");
      background-position: center;
      width: 20px;
      height: 20px;
      top: 2px;
      left: 2px;
    }

    &_type_checkbox:checked:before {
      background-image: url("../images/checked-icon.svg");
    }
  }

  &__button {
    width: 108px;
    @include button();
    padding-left: 23px;
    padding-right: 23px;
    border: 0.5px solid $color-white;
    color: $color-dark;
    background-color: $bg-color-white;

    &:hover {
      border: 0.5px solid $color-white;
      background-color: $bg-color-dark;
      color: $color-white;
    }

    @media screen and (max-width: $mobile-width) {
      width: 280px;
      padding: 9px 0;
    }

  }

  &__form-label {
    width: 668px;
    color: #ffffff;
    @include font-small();
    padding-left: 10px;

    @media screen and (max-width: $tablet-large-width) {
      max-width: 454px;
    }

    @media screen and (max-width: $mobile-width) {
      @include font-small-mobile();
      max-width: 248px;
    }
  }

  &__copyright {
    @include font-base();
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: $mobile-width) {
      @include font-small();
    }
  }
}
