@import "../vendor/normalize.css";
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/Prompt-Regular.woff2) format("woff2"), url(../../fonts/Prompt-Regular.woff) format("woff");
}
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter"), url("../../fonts/Prompt-Medium.woff2") format("woff2"), url("../../fonts/Prompt-Medium.woff") format("woff");
}
.header {
  width: 100%;
  min-height: 900px;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  background-color: #E7E7E2;
}
@media screen and (max-width: 1023px) {
  .header {
    min-height: 646px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    min-height: 426px;
  }
}
.header__container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .header__container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .header__container {
    min-width: 320px;
  }
}
.header__title {
  position: absolute;
  top: 310px;
  right: 20px;
  width: 700px;
  margin: 0;
  text-transform: uppercase;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .header__title {
    top: 223px;
    max-width: 485px;
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 600px) {
  .header__title {
    top: 111px;
    max-width: 280px;
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
.header__image {
  max-width: 700px;
  margin: 0 0 0 24px;
}
.header__image_type_tablet {
  display: none;
}
@media screen and (max-width: 1023px) {
  .header__image {
    display: none;
    margin: 0;
  }
  .header__image_type_tablet {
    display: block;
    max-width: 486px;
  }
}
@media screen and (max-width: 600px) {
  .header__image {
    max-width: 320px;
    min-height: 426px;
  }
}
.header__button {
  position: absolute;
  bottom: 318px;
  right: 370px;
  width: 350px;
  padding: 11px 0;
  box-sizing: border-box;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0A0A0A;
  border: 0.5px solid #0A0A0A;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .header__button {
    right: 155px;
    bottom: 223px;
  }
}
@media screen and (max-width: 600px) {
  .header__button {
    width: 280px;
    right: 20px;
    bottom: 111px;
    padding: 11px 0;
    box-sizing: border-box;
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}
.header__button:hover {
  background-color: #ffffff;
  color: #0A0A0A;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  padding-left: 48px;
  min-width: 237px;
  min-height: 48px;
  position: absolute;
  top: 20px;
  left: 20px;
}
@media screen and (max-width: 600px) {
  .header__menu {
    min-height: 26px;
    padding-left: 24px;
    top: 16px;
  }
}
.header__menu-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  position: absolute;
  border: none;
  background-color: transparent;
}
@media screen and (max-width: 600px) {
  .header__menu-button {
    width: 24px;
    height: 24px;
  }
}
.header__menu-button:before {
  content: "";
  position: absolute;
  background-image: url("../images/burger-icon.svg");
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 10;
}
@media screen and (max-width: 600px) {
  .header__menu-button:before {
    background-image: url("../images/burger-icon-mobile.svg");
    width: 24px;
    height: 24px;
  }
}
.header__menu-title {
  display: block;
  margin: auto 0 auto 16px;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 600px) {
  .header__menu-title {
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    margin: auto 0 auto 18px;
  }
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
  .main {
    max-width: 768px;
    padding: 60px 20px;
  }
}
@media screen and (max-width: 767px) {
  .main {
    min-width: 320px;
    padding: 40px 20px;
  }
}

.about {
  margin: 0 0 80px;
}
@media screen and (max-width: 767px) {
  .about {
    margin: 0 0 40px;
    max-width: 100%;
  }
}
.about__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .about__description {
    flex-direction: column;
    max-width: 485px;
    margin: 0 auto;
  }
}
.about__title {
  max-width: 700px;
  margin: 0;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .about__title {
    max-width: 364px;
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) {
  .about__title {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 425px) {
  .about__title {
    max-width: 280px;
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
.about__subtitle {
  max-width: 700px;
  margin: 0;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1023px) {
  .about__subtitle {
    max-width: 364px;
  }
}
@media screen and (max-width: 425px) {
  .about__subtitle {
    max-width: 280px;
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
  }
}
.about__item {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 0;
}
@media screen and (max-width: 1023px) {
  .about__item {
    margin: 70px 0 0;
  }
}
@media screen and (max-width: 767px) {
  .about__item {
    flex-direction: column;
    margin: 0;
  }
}
.about__quote {
  max-width: 700px;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  z-index: 5;
  align-self: center;
  margin: 0 -175px 0 0;
}
@media screen and (max-width: 1023px) {
  .about__quote {
    max-width: 364px;
  }
}
@media screen and (max-width: 767px) {
  .about__quote {
    margin: 0;
    order: 2;
  }
}
@media screen and (max-width: 425px) {
  .about__quote {
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
  }
}
.about__quote-text {
  margin: 0;
}
.about__quote-author {
  margin: 24px 0 0;
}
@media screen and (max-width: 767px) {
  .about__quote-author {
    margin: 20px 0 0;
  }
}
.about__image {
  max-width: 875px;
}
@media screen and (max-width: 1023px) {
  .about__image {
    max-width: 485px;
    margin: 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .about__image {
    margin: 40px auto 20px;
    order: 1;
  }
}
.about__image_type_medium {
  margin-right: 175px;
  margin-left: 0;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .about__image_type_medium {
    margin-right: 121px;
    height: 452px;
  }
}
@media screen and (max-width: 767px) {
  .about__image_type_medium {
    width: 100%;
    height: 100%;
    margin: 40px auto 20px;
  }
}
@media screen and (max-width: 425px) {
  .about__image_type_medium {
    width: 280px;
    height: 348px;
  }
}
.about__image_type_large {
  margin: 0;
}
@media screen and (max-width: 1023px) {
  .about__image_type_large_type_large {
    width: 485px;
  }
}
@media screen and (max-width: 1023px) and (max-width: 767px) {
  .about__image_type_large {
    margin: 40px auto 20px;
    width: 100%;
  }
}
.about__image_type_small {
  width: 100%;
  order: 1;
}
@media screen and (max-width: 1023px) {
  .about__image_type_small {
    width: 304px;
    height: 100%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 767px) {
  .about__image_type_small {
    margin: 40px auto 20px;
    width: 100%;
  }
}
.about__text {
  max-width: 700px;
  align-self: center;
  margin: 0 0 92px 82px;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  order: 2;
}
@media screen and (max-width: 1023px) {
  .about__text {
    max-width: 373px;
    margin: 0 -9px 50px 60px;
  }
}
@media screen and (max-width: 425px) {
  .about__text {
    margin: 0;
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
  }
}

.cards {
  width: 100%;
  margin: 0 auto;
}
.cards__title {
  margin: 0 auto;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .cards__title {
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 425px) {
  .cards__title {
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
.cards__items {
  display: grid;
  margin: 40px auto 0;
  max-width: 100%;
  grid-template-columns: repeat(4, fit-content(350px));
  grid-template-rows: repeat(2, 1fr);
  column-gap: 0;
  row-gap: 0;
  grid-auto-rows: 1fr;
  overflow-y: hidden;
}
@media screen and (max-width: 1023px) {
  .cards__items {
    grid-template-columns: repeat(3, fit-content(350px));
  }
}
@media screen and (max-width: 767px) {
  .cards__items {
    grid-template-columns: repeat(2, fit-content(350px));
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .cards__items {
    margin: 20px auto 0;
  }
}
.cards__item {
  max-width: 100%;
  margin: 0 auto;
  align-self: center;
}
@media screen and (max-width: 1023px) {
  .cards__item:nth-child(7) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .cards__item:nth-child(7) {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .cards__item:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .cards__item:nth-child(8) {
    display: block;
  }
}

.footer {
  width: 100%;
  min-height: 372px;
  background-color: #0A0A0A;
  color: #ffffff;
  padding: 40px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 20px;
  }
}
.footer__container {
  max-width: 700px;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .footer__container {
    max-width: 486px;
  }
}
@media screen and (max-width: 425px) {
  .footer__container {
    max-width: 280px;
  }
}
.footer__text {
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 425px) {
  .footer__text {
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
  }
}
.footer__form {
  margin: 40px 0;
}
.footer__form-item {
  display: flex;
  font-size: 0;
  margin-bottom: 20px;
  position: relative;
}
.footer__form-item:last-child {
  margin: 0;
}
@media screen and (max-width: 425px) {
  .footer__form-item_type_mobile {
    display: flex;
    flex-direction: column;
  }
}
.footer__form-input {
  border: 0.5px solid #ffffff;
  border-radius: 0;
  padding: 11px 23px;
  width: 592px;
  background-color: #0A0A0A;
  color: #ffffff;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
.footer__form-input::placeholder {
  color: #666666;
}
@media screen and (max-width: 425px) {
  .footer__form-input {
    max-width: 280px;
    padding: 9px 0;
    text-align: center;
  }
}
.footer__form-input_type_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 2px 0 0 2px;
  border: none;
}
.footer__form-input_type_checkbox:before {
  content: "";
  position: absolute;
  background-image: url("../../images/unchecked-icon.svg");
  background-position: center;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}
.footer__form-input_type_checkbox:checked:before {
  background-image: url("../../images/checked-icon.svg");
}
.footer__button {
  width: 108px;
  padding: 11px 0;
  box-sizing: border-box;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-left: 23px;
  padding-right: 23px;
  border: 0.5px solid #ffffff;
  color: #0A0A0A;
  background-color: #ffffff;
}
.footer__button:hover {
  border: 0.5px solid #ffffff;
  background-color: #0A0A0A;
  color: #ffffff;
}
@media screen and (max-width: 425px) {
  .footer__button {
    width: 280px;
    padding: 9px 0;
  }
}
.footer__form-label {
  width: 668px;
  color: #ffffff;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  padding-left: 10px;
}
@media screen and (max-width: 1023px) {
  .footer__form-label {
    max-width: 454px;
  }
}
@media screen and (max-width: 425px) {
  .footer__form-label {
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    max-width: 248px;
  }
}
.footer__copyright {
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 425px) {
  .footer__copyright {
    font-family: "Prompt", "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fade-in-left {
  animation: fadeInLeft 1s ease-out 300ms;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fade-in-right {
  animation: fadeInRight 1s ease-out 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fadeIn;
  animation: fadeIn 1s linear;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fadeOut;
  animation: fadeOut 1s linear;
}

.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 15;
}
.popup__container {
  margin: 0;
  padding: 68px 20px 20px;
  max-width: 480px;
  height: 100%;
  background-color: #000000;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .popup__container {
    padding: 44px 20px 20px;
    min-width: 320px;
  }
}
.popup__menu-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  list-style: none;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}
.popup__menu-item {
  margin: 0 auto 80px;
}
.popup__menu-item:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 425px) {
  .popup__menu-item {
    margin: 0 auto 40px;
  }
}
.popup__menu-link {
  text-decoration: none;
  color: #ffffff;
}
.popup__menu-link:hover {
  border-bottom: 0.5px solid #ffffff;
  cursor: pointer;
}
.popup__close {
  position: absolute;
  border: none;
  width: 48px;
  height: 48px;
  background-image: url("../../images/close-button.svg");
  background-color: transparent;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
@media screen and (max-width: 425px) {
  .popup__close {
    width: 24px;
    height: 24px;
    background-image: url("../../images/close-button-mobile.svg");
  }
}
.popup_opened {
  display: block;
  overflow: hidden;
}

/*# sourceMappingURL=index.css.map */
