@import "../vendor/normalize.css";
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/Prompt-Regular.woff2) format("woff2"), url(../../fonts/Prompt-Regular.woff) format("woff");
}
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter"), url("../../fonts/Prompt-Medium.woff2") format("woff2"), url("../../fonts/Prompt-Medium.woff") format("woff");
}
.header {
  width: 100%;
  max-height: 900px;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  background-color: #E7E7E2;
}
.header__container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.header__description {
  position: absolute;
  top: 310px;
  right: 20px;
}
.header__title {
  position: absolute;
  top: 310px;
  right: 20px;
  width: 700px;
  margin: 0;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.04em;
}
.header__image {
  max-width: 700px;
  margin: 0 0 0 24px;
}
.header__button {
  position: absolute;
  bottom: 330px;
  right: 370px;
  max-width: 350px;
  padding: 11px 0;
  box-sizing: border-box;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
  background-color: #0A0A0A;
  border: 0.5px solid #0A0A0A;
}
.header__button:hover {
  background-color: #ffffff;
  color: #0A0A0A;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.about {
  margin: 80px 0;
}
.about__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__title {
  max-width: 700px;
  margin: 0;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.about__subtitle {
  max-width: 700px;
  margin: 0;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
.about__item {
  min-height: 618px;
  display: flex;
  justify-content: space-between;
  margin: 80px 0 0;
}
.about__quote {
  max-width: 700px;
  width: 100%;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.02em;
  z-index: 5;
  margin-right: -175px;
  align-self: center;
}
.about__quote-text {
  margin: 0;
}
.about__quote-author {
  margin: 24px 0 0;
}
.about__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.about__image_type_medium {
  margin-right: 175px;
  margin-left: auto;
  z-index: 1;
}
.about__image_type_large {
  margin: 0 0 0 auto;
}
.about__text {
  max-width: 700px;
  align-self: center;
  margin: 0 0 92px 82px;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

.cards {
  width: 100%;
  margin: 0 auto;
}
.cards__title {
  margin: 0 auto;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.cards__items {
  display: grid;
  margin: 40px auto 80px;
  max-width: 100%;
  grid-template-columns: repeat(4, fit-content(350px));
  column-gap: 0;
  row-gap: 0;
  grid-auto-rows: 1fr;
  overflow-y: hidden;
}
.cards__item {
  max-width: 100%;
  margin: 0 auto;
  align-self: center;
}
@media screen and (max-width: 1023px) {
  .cards__items {
    grid-template-columns: repeat(3, fit-content(350px));
  }
}
@media screen and (max-width: 767px) {
  .cards__items {
    grid-template-columns: repeat(2, fit-content(350px));
  }
}

.footer {
  width: 100%;
  min-height: 372px;
  background-color: #0A0A0A;
  color: #ffffff;
  padding: 40px 0;
  box-sizing: border-box;
}
.footer__container {
  max-width: 700px;
  margin: 0 auto;
}
.footer__text {
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0;
}
.footer__form {
  margin: 40px 0;
}
.footer__form-item {
  display: flex;
  font-size: 0;
  margin-bottom: 20px;
  position: relative;
}
.footer__form-item:last-child {
  margin: 0;
}
.footer__form-input {
  border: 0.5px solid #ffffff;
  border-radius: 0;
  padding: 11px 23px;
  width: 592px;
  background-color: #0A0A0A;
  color: #ffffff;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
.footer__form-input::placeholder {
  color: #666666;
}
.footer__form-input_type_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
}
.footer__form-input_type_checkbox:before {
  content: "";
  position: absolute;
  background-image: url("../../images/unchecked-icon.svg");
  background-position: center;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
.footer__form-input_type_checkbox:checked:before {
  background-image: url("../../images/checked-icon.svg");
}
.footer__button {
  width: 108px;
  padding: 11px 0;
  box-sizing: border-box;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding-left: 23px;
  padding-right: 23px;
  border: 0.5px solid #ffffff;
  color: #0A0A0A;
  background-color: #ffffff;
}
.footer__button:hover {
  border: 0.5px solid #ffffff;
  background-color: #0A0A0A;
  color: #ffffff;
}
.footer__form-label {
  width: 668px;
  color: #ffffff;
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  padding-left: 10px;
}
.footer__copyright {
  font-family: "Prompt", "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 auto;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fade-in-left {
  animation: fadeInLeft 1s ease-out 300ms;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fade-in-right {
  animation: fadeInRight 1s ease-out 300ms;
}

/*# sourceMappingURL=index.css.map */
